*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9b6b6;
}

.navbar{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.lists {
  display: flex;
  gap: 15px; 
  margin-top: 20px;
}
.logo{
  margin-top: 20px;
  font-size: 1.5rem;
  color: red;
}
a {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  transition: .3s;
  color: red;
  border-bottom: 2px solid red;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3e3b3b;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(64, 6, 103);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1{
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  color: black;
  font-weight: 400;
}

.words{
  font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {

.logo{
  font-size: 1rem;
  margin-left: 15px;
}
a {
  font-size: 0.8rem;
  margin-right: 15px;
}

h1{
  font-size: 1.2rem;
}

.words{
  font-size: 0.9rem;
}

}

@media screen and (width: 768px) {

  .logo{
    font-size: 1.2rem;
    margin-left: 15px;
  }
  a {
    font-size: 1rem;
    margin-right: 15px;
  }
  
  h1{
    font-size: 1.4rem;
  }
  
  .words{
    font-size: 1.1rem;
  }
  
}

@media screen and (width: 1024px) {

  .logo{
    margin-left: 20px;
  }
  a {
    margin-right: 20px;
  }
}


